{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Bits Calculator{% endblock title %}
{% block bits_calculator_btn %}
<a href="{% url 'index' %}" class="btn btn-primary w-50 border-0 shadow-none text-base rounded-l">Bits
    Calculator</a>
{% endblock bits_calculator_btn %}
{% block csv_normalization_btn %}
<a href="{% url 'csv' %}" class="btn btn-primary-content w-50 h-8 border-0 shadow-none text-sm rounded-l">CSV
    Normalization</a>
{% endblock csv_normalization_btn %}
{% block content %}
<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="flex flex-col justify-center gap-y-2">
        <div class="card bg-base-100 p-5 mb-1 self-center w-200">
            <div class="flex flex-row justify-between">
                <div class="flex flex-row justify-center gap-x-5">
                    <p class="text-lg self-center font-bold text-base-content">Step 1</p>
                    <p class="text-sm self-center text-base-content">Choose CSV From OnlineGDB</p>
                </div>
                <fieldset>
                    {{ form.file|add_class:"required file-input file-input-primary validator self-center w-100"|attr:"accept:.csv" }}
                    <p class="hidden validator-hint">Invalid File / No File Selected</p>
                </fieldset>
            </div>
        </div>
        <div class="card bg-base-100 p-5 mb-1 self-center w-200">
            <div class="flex flex-row justify-between">
                <div class="flex flex-row justify-center gap-x-5">
                    <p class="text-lg self-center font-bold text-base-content">Step 2</p>
                    <p class="text-sm self-center text-base-content">Select Lab Section CRN</p>
                </div>
                <fieldset>
                    {{ form.crn|add_class:"required input input-primary validator w-100"|attr:"type:number"|attr:"min:1"|attr:"value:1"|attr:"list=saved_crn"}}
                    <datalist id="saved_crn">
                        {% for crn in crn_data %}
                            <option value="{{ crn }}"></option>
                        {% endfor %}
                    </datalist>
                    <p class="hidden validator-hint">Invalid CRN Number</p>
                </fieldset>
            </div>
        </div>
        <div class="card bg-base-100 p-5 mb-1 self-center w-200">
            <div class="flex flex-row justify-between">
                <div class="flex flex-row justify-center gap-x-5">
                    <p class="text-lg self-center font-bold text-base-content">Step 3</p>
                    <p class="text-sm self-center text-base-content">Weekly Bit Rewards</p>
                </div>
                <div class="flex flex-col justify-center">
                    <div class="flex flex-row">
                        <p class="self-center px-3 text-sm text-base-content">Week 1</p>
                        <fieldset>
                            {{ form.bitRewards|add_class:"required input input-primary validator w-100"|attr:"type:number"|attr:"min:0"|attr:"value:5" }}
                            <p class="hidden validator-hint">Invalid Bit Amount</p>
                        </fieldset>
                    </div>
                    <button id="add_week_btn" onclick="addWeek()"
                        class="btn bg-primary text-white w-30 h-8 self-center border-0 shadow-none text-xs mt-3">Add Another<button>
                </div>
            </div>
        </div>
        <div class="card bg-base-100 p-5 mb-1 self-center w-200">
            <div class="flex flex-row justify-between">
                <div class="flex flex-row justify-center gap-x-5">
                    <p class="text-lg self-center font-bold text-base-content">Step 4</p>
                    <p class="text-sm self-center text-base-content">Select Calculation Criteria</p>
                </div>
                <div class="flex flex-col justify-between gap-y-3">
                    <div class="flex flex-row justify-between gap-x-5">
                        {{ form.firstNSubmissionBonus|add_class:"checkbox checkbox-primary self-center" }}
                        <fieldset>
                            {{ form.n|add_class:"input input-primary validator w-100 self-center"|attr:"type:number"|attr:"placeholder:First N Submissions Bonus" }}
                            <p class="hidden validator-hint">Invalid N Number</p>
                        </fieldset>
                    </div>
                    <div class="flex flex-row justify-between gap-x-5">
                        {{ form.submissionStreak|add_class:"checkbox checkbox-primary self-center" }}
                        <fieldset>
                            {{ form.streakWeeks|add_class:"input input-primary validator w-100"|attr:"type:number"|attr:"placeholder: Weekly Streaks" }}
                            <p class="hidden validator-hint">Invalid Weekly Streak Number</p>
                        </fieldset>
                    </div>
                    <div class="flex flex-row justify-start gap-x-5">
                        {{ form.dualCompletion|add_class:"checkbox checkbox-primary self-center" }}
                        <p class="self-center text-sm">Dual Completion</p>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" id="generate_btn"
            class="btn bg-orange-700 w-80 h-10 border-0 shadow-none text-white disabled:text-white/50 self-center text-center mb-5">Generate</button>
    </div>
</form>
<div class="flex flex-row justify-center gap-x-2">
    <div class="card bg-base-100 p-5 mb-1 self-center w-200">
        <div class="flex flex-col">
            <p class="text-base-content self-center text-center font-bold">Uploaded Files</p>
            <ul class="h-48 p-2 text-sm text-body font-medium overflow-y-scroll" aria-labelledby="dropdownUsersButton">
                <li>
                    <div class="flex flex-row justify-left">
                        <button class="btn btn-ghost bg-content border-none">
                            <svg class="w-6 h-6 text-gray-800 dark:text-base-content" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 13V4M7 14H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2m-1-5-4 5-4-5m9 8h.01" />
                            </svg>
                        </button>
                        <p class="self-center text-base">10-09-2026.csv</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="card bg-base-100 p-5 mb-1 self-center w-200">
        <div class="flex flex-col">
            <p class="text-base-content self-center text-center font-bold">Generated Files</p>
            <ul class="h-48 p-2 text-sm text-body font-medium overflow-y-scroll" aria-labelledby="dropdownUsersButton">
                <li>
                    <div class="flex flex-row justify-left">
                        <button class="btn btn-ghost bg-content border-none">
                            <svg class="w-6 h-6 text-gray-800 dark:text-base-content" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 13V4M7 14H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2m-1-5-4 5-4-5m9 8h.01" />
                            </svg>
                        </button>
                        <p class="self-center text-base">10-09-2026.csv</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
{% block body_js %}
<script src="{% static 'bit_calculator/checkbox_disable_input.js' %}"></script>
<script src="{% static 'bit_calculator/generate_btn_state.js' %}"></script>
{% endblock body_js %}