{% extends "base.html" %}
{% block title %}FAQ{% endblock title %}
{% block bits_calculator_btn %}
<a href="{% url 'index' %}" class="btn btn-outline btn-primary w-50 h-8 text-sm rounded-l">Bits
    Calculator</a>
{% endblock bits_calculator_btn %}
{% block csv_normalization_btn %}
<a href="{% url 'csv' %}" class="btn btn-outline btn-primary w-50 h-8 text-sm rounded-l">CSV
    Normalization</a>
{% endblock csv_normalization_btn %}
{% block content %}
<div class="flex flex-col justify-center gap-y-2">
    <div class="card bg-black p-5 mb-1 self-center w-200">
        <h1 class="text-lg font-bold mb-3">
            What Is Prizeversity?
        </h1>
        <p>Prizeversity turns classroom progression into a Skill Tree—students level up and invest in stats that change gameplay: Multiplier, Luck, Shield, Discount, Attack Bonus, and Group Multiplier. It's a cyclical economy where engagement fuels growth, and growth fuels rewards.</p>
    </div>
    <div class="card bg-black p-5 mb-1 self-center w-200">
        <h1 class="text-lg font-bold mb-3">
            What Is Bit Calculator?
        </h1>
        <p>Bit Calculator is a microservice created with Django and SQLite and hosted on PythonAnywhere. It allows university teaching assistants in Prizeversity classrooms the ability to calculate the amount of reward 'bits' <i>without</i> tedious calculations. 'Bits' are the currency of the Prizeversity ecosystem.</p>
    </div>
    <div class="card bg-black p-5 mb-1 self-center w-200">
        <h1 class="text-lg font-bold mb-3">
            What Is CSV Normalization?
        </h1>
        <p>CSV Normalization is a process in which a CSV file is inputted and serialized. Specified data can then be normalized baed on pre-determined weights. The normalized data / CSV is then outputted.</p>
    </div>
    <div class="card bg-black p-5 mb-1 self-center w-200">
        <h1 class="text-lg font-bold mb-3">
            How Do I Use Bit Calculator?
        </h1>
        <p>Start by making sure you are on the Bit Calculator tab by clicking the button labelled 'Bit Calculator' on the header from any page of the website. Input one or more CSV files from OnlineGDB that you got from downloading submission data (must be marked as a teacher on OnlineGDB). Find your lab section CRN or add a new CRN if it doesn't exist. Select criteria and click the generate button.</p>
    </div>
    <div class="card bg-black p-5 mb-1 self-center w-200">
        <h1 class="text-lg font-bold mb-3">
            How Do I Use CSV Normalization?
        </h1>
        <p></p>
    </div>
</div>
{% endblock content %}