{% extends "base.html" %}
{% block title %}Bits Calculator{% endblock title %}
{% block bits_calculator_btn %}
<a href="{% url 'index' %}" class="btn btn-outline btn-primary w-50 text-base rounded-l">Bits
    Calculator</a>
{% endblock bits_calculator_btn %}
{% block csv_normalization_btn %}
<a href="{% url 'csv' %}" class="btn btn-outline btn-primary w-50 h-8 text-sm rounded-l">CSV
    Normalization</a>
{% endblock csv_normalization_btn %}
{% block content %}
<form method="post" action="/new-csv-upload/" enctype="multipart/form-data" class="flex flex-col items-center gap-y-4 p-6">
    {% csrf_token %}
    
    <div class="card bg-black p-5 w-200">
        <label class="label">
            <span class="label-text font-bold">Upload CSV</span>
        </label>
        {{ form.file }}
    </div>
    
    <div class="card bg-black p-5 w-200">
        <label class="label">
            <span class="label-text font-bold">Lab Section CRN</span>
        </label>
        {{ form.crn }}
    </div>
    
    <div class="card bg-black p-5 w-200">
        <label class="label">
            <span class="label-text font-bold">Weekly Bit Rewards</span>
        </label>
        {{ form.bitRewards }}
    </div>
    
    <div class="card bg-black p-5 w-200 space-y-3">
        <label class="label cursor-pointer">
            <span class="label-text">First N Submission Bonus</span>
            {{ form.firstNSubmissionBonus }}
        </label>
        <label class="label cursor-pointer">
            <span class="label-text">Submission Streaks</span>
            {{ form.submissionStreak }}
        </label>
        <label class="label cursor-pointer">
            <span class="label-text">Dual Completion</span>
            {{ form.dualCompletion }}
        </label>
    </div>
    
    <div class="card bg-black p-5 w-200">
        <label class="label">
            <span class="label-text font-bold">N Value</span>
        </label>
        {{ form.n }}
    </div>
    
    <div class="card bg-black p-5 w-200">
        <label class="label">
            <span class="label-text font-bold">Streak Weeks</span>
        </label>
        {{ form.streakWeeks }}
    </div>
    
    <button type="submit" class="btn bg-orange-700 w-80 h-10 text-center mb-5">Generate</button>
</form>
{% endblock content %}