{% extends "base.html" %}
{% block title %}Bits Calculator{% endblock title %}
{% block bits_calculator_btn %}
<a href="{% url 'index' %}" class="btn btn-outline btn-primary w-50 text-base rounded-l">Bits
    Calculator</a>
{% endblock bits_calculator_btn %}
{% block csv_normalization_btn %}
<a href="{% url 'csv' %}" class="btn btn-outline btn-primary w-50 h-8 text-sm rounded-l">CSV
    Normalization</a>
{% endblock csv_normalization_btn %}
{% block content %}
<form action="/new-csv-upload/" enctype="multipart/form-data" method="post">
{% csrf_token %}
<div class="flex flex-col justify-center gap-y-2">
    <div class="card bg-black p-5 mb-1 self-center w-200">
        <div class="flex flex-row justify-between">
            <div class="flex flex-row justify-center gap-x-5">
                <p class="text-lg self-center font-bold">Step 1</p>
                <p class="text-sm self-center text-gray-500">Choose CSV From OnlineGDB</p>
            </div>
            <input onchange="enableSubmit()" multiple type="file" accept=".csv" class="required file-input file-input-primary self-center w-100">
        </div>
    </div>
    <div class="card bg-black p-5 mb-1 self-center w-200">
        <div class="flex flex-row justify-between">
            <div class="flex flex-row justify-center gap-x-5">
                <p class="text-lg self-center font-bold">Step 2</p>
                <p class="text-sm self-center text-gray-500">Select Lab Section CRN</p>
            </div>
            <select class="select select-primary w-100">
                <option disabled selected>Search For CRN</option>
                {% for lab in sections %}
                <option value="{{ lab.crn }}">{{ lab.crn }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="card bg-black p-5 mb-1 self-center w-200">
        <div class="flex flex-row justify-between">
            <div class="flex flex-row justify-center gap-x-5">
                <p class="text-lg self-center font-bold">Step 3</p>
                <p class="text-sm self-center text-gray-500">Weekly Bit Rewards</p>
            </div>
            <input onchange="enableSubmit()" type="text" placeholder="e.g. 10,30,20,20" class="required input input-primary border w-100" />
        </div>
    </div>
    <div class="card bg-black p-5 mb-1 self-center w-200">
        <div class="flex flex-row justify-between">
            <div class="flex flex-row justify-center gap-x-5">
                <p class="text-lg self-center font-bold">Step 4</p>
                <p class="text-sm self-center text-gray-500">Select Calculation Criteria</p>
            </div>
            <div class="flex flex-col justify-between gap-y-3">
                <div class="flex flex-row justify-between gap-x-2">
                    <div class="flex flex-row justify-between gap-x-2">
                        <input type="checkbox" checked="checked" class="checkbox checkbox-primary self-center" />
                        <p class="self-center text-sm">First N Submissions Bonus</p>
                    </div>
                    <input type="text" onchange="enableSubmit()" placeholder="Input N" class="input input-primary border w-50 self-center" />
                </div>
                <div class="flex flex-row justify-between gap-x-2">
                    <div class="flex flex-row justify-between gap-x-2">
                        <input type="checkbox" checked="checked" class="checkbox checkbox-primary self-center" />
                        <p class="self-center text-sm">Submission Streaks</p>
                    </div>
                    <input type="text" placeholder="e.g. 1-4" class="input input-primary border w-50" />
                </div>
                <div class="flex flex-row justify-center gap-x-2">
                    <input type="checkbox" checked="checked" class="checkbox checkbox-primary" />
                    <p class="self-center text-sm">Dual Completion</p>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" disabled="false" id="generate_btn" class="btn bg-orange-700 w-80 h-10 self-center text-center mb-5">Generate</button>
    <div class="flex flex-row justify-center gap-x-2">
        <div class="card bg-black p-5 mb-1 self-center w-200">
            <div class="flex flex-col">
                <p class="text-base self-center text-center font-bold">Uploaded Files</p>
                <ul class="h-48 p-2 text-sm text-body font-medium overflow-y-scroll"
                    aria-labelledby="dropdownUsersButton">
                    <li>
                        <div class="flex flex-row justify-left">
                            <button class="btn btn-ghost bg-black border-none">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M12 13V4M7 14H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2m-1-5-4 5-4-5m9 8h.01" />
                                </svg>
                            </button>
                            <p class="self-center text-base">10-09-2026.csv</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card bg-black p-5 mb-1 self-center w-200">
            <div class="flex flex-col">
                <p class="text-base self-center text-center font-bold">Generated Files</p>
                <ul class="h-48 p-2 text-sm text-body font-medium overflow-y-scroll"
                    aria-labelledby="dropdownUsersButton">
                    <li>
                        <div class="flex flex-row justify-left">
                            <button class="btn btn-ghost bg-black border-none">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M12 13V4M7 14H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2m-1-5-4 5-4-5m9 8h.01" />
                                </svg>
                            </button>
                            <p class="self-center text-base">10-09-2026.csv</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
</form>
{% endblock content %}