# This is a basic workflow to help you get started with Actions

name: Linting

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "lint"
  lint:
    # The type of runner that the job will run on
    name: Run Linting Checks
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Setup python environment
      - name: Python Setup
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black flake8 isort

      - name: Black Formatting
        run: black --check .

      - name: Isort Import Sorting
        run: isort . --check-only

      - name: Flake8 Linting
        run: |
          flake8 prizeversity_bits_calculation_integration --count --show-source --statistics --max-line-length=88 --select=
